<%- include('layouts/header') %>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Hay Dahyun</h1>
                    <img src="/static/img/dubu.png" alt="" class="w-50 rounded-circle">
                </div>
            </div>
        </div>
<%- include('layouts/footer') %>
