<%- include('layouts/header') %>
<%- include('layouts/nav') %>

    <!-- component -->
    <div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover"
        style="background-image: url('/static/img/dubu-bg.jpg');">
        <div class="max-w-2xl w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
            <div class="grid  gap-8 grid-cols-1">
                <input type="hidden" value="<%= user._id %>" id="userId">
                <form class="flex flex-col" method="post" id="regForm">
                    <div class="flex flex-col sm:flex-row items-center">
                        <h2 class="font-semibold text-lg mr-auto">Transaction Form</h2>
                        <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
                    </div>
                    <div class="w-full flex flex-col mb-3">
                        <label for="jenis" class="font-semibold text-gray-600 py-2">Jenis Transaksi<abbr title="required">*</abbr></label>
                        <select class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full "
                            required name="jenis" id="jenis">
                            <option value=""disabled selected >Pilih Jenis Transaksi</option>
                            <option value="transfer">Transfer</option>
                            <option value="isi">Isi</option>
                            <option value="tarik">Tarik</option>
                        </select>
                    </div>
                    <div class="mt-5" >
                        <div class="form">
                            <div class="mb-3 space-y-2 w-full text-xs">
                                <label class=" font-semibold text-gray-600 py-2" for="nominal">Nominal</label>
                                <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                                    <div class="flex">
                                        <span
                                            class="flex items-center leading-normal bg-grey-lighter border-1 rounded-r-none border border-r-0 border-blue-300 px-3 whitespace-no-wrap text-grey-dark text-sm w-12 h-10 bg-blue-300 justify-center items-center  text-xl rounded-lg text-white">
                                            $
                                        </span>
                                    </div>
                                    <input type="text" required
                                        class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow"
                                        type="number" inputmode="numeric"
                                        oninput="this.value = this.value.replace(/\D+/g, '')" name="nominal" id="nominal"
                                        placeholder="9999999">
                                </div>
                            </div>
                            <div class="md:flex md:flex-row md:space-x-4 w-full text-xs " id="rekeningForm">
                                <div class="w-full flex flex-col mb-3">
                                    <label for="rekening" class="font-semibold text-gray-600 py-2">Rekening Penerima</label>
                                    <input placeholder="6 minimal character" 
                                        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4"
                                        type="text" inputmode="numeric"
                                        oninput="this.value = this.value.replace(/\D+/g, '')" name="rekening" id="rekening"
                                        placeholder="nominal" required />
                                </div>
                            </div>
                            </div>
                            <div class="md:flex md:flex-row md:space-x-4 w-full text-xs">
                                <div class="w-full flex flex-col mb-3">
                                    <label for="pinATM" class="font-semibold text-gray-600 py-2">Pin Transaksi<abbr
                                            title="required">*</abbr></label>
                                    <input placeholder="6 minimal number"
                                        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4"
                                        type="text" inputmode="numeric"
                                        oninput="this.value = this.value.replace(/\D+/g, '')" id="pinATM" required>
                                </div>
                            </div>

                            <div class="registrationFormAlert" style="color:green;" id="CheckPasswordMatch"></div>
                            <div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
                                <a href="/"
                                    class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                                    Cancel
                                </a>
                                <button type="submit" class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500
                                disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none">
                                Save
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // let getId 
        // console.log(getId)
        let id = $("#userId").val();
        function jenisTransaksi(){
            let jenis = $("#jenis").val();
            $("#regForm").attr('action',`/transaksi/${jenis}/${id}`);
            console.log(`/transaksi/${jenis}/${id}`)
            if(jenis == 'transfer'){
                $("#rekeningForm").css("display", "block");
                $("#rekening").prop("disabled", false);
            }else{
                
                $("#rekening").prop("disabled", true);
                $("#rekeningForm").css("display", "none");
            }
        }
        $(document).ready(function () {
            $("#jenis").change(jenisTransaksi);
        });
        </script>
<%- include('layouts/footer') %>